body {
  background-image: url('./images/spacex.png');
}

code {
  background-color: #D3D3D3;
}

h1 {
  color: #551a8b;
  transition-property: font-size;
  transition-duration: 3s;
}

h1:hover {
  font-size: 60px;
  
}